<div class="media">
  <div class="media-body">
    <p>
      <%= comment.markdown_body %>
      <small>submitted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %></small>
      <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
    </p>
  </div>
</div>